.productBrandName--summaryListDesktop {
  color: #2ab1b7;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}

.productBrandName--summaryListMobile {
  color: #2ab1b7;
  font-size: 0.875rem;
  text-decoration: none;
}
