.container {
  margin: auto;
  max-width: 1252px;
}

.homeLink {
  padding: 0;
}

.homeIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.998' height='16' viewBox='0 0 15.998 16'%3E%3Cpath id='icon-home' d='M16.069,6.959h0L9.541.431a1.473,1.473,0,0,0-2.083,0L.934,6.954l-.007.007a1.472,1.472,0,0,0,.98,2.51l.046,0h.26v4.8A1.726,1.726,0,0,0,3.937,16H6.491a.469.469,0,0,0,.469-.469V11.765a.787.787,0,0,1,.787-.786H9.252a.787.787,0,0,1,.786.786v3.766a.469.469,0,0,0,.469.469h2.553a1.726,1.726,0,0,0,1.724-1.724v-4.8h.241a1.473,1.473,0,0,0,1.042-2.514ZM15.4,8.378a.532.532,0,0,1-.379.157h-.71A.469.469,0,0,0,13.847,9v5.272a.787.787,0,0,1-.787.786H10.976v-3.3a1.726,1.726,0,0,0-1.724-1.724H7.746a1.726,1.726,0,0,0-1.724,1.724v3.3H3.937a.787.787,0,0,1-.787-.786V9a.469.469,0,0,0-.469-.469h-.72a.535.535,0,0,1-.369-.913h0L8.121,1.094a.535.535,0,0,1,.757,0L15.4,7.619l0,0a.537.537,0,0,1,0,.756Zm0,0' transform='translate(-0.5 0.001)' fill='%23b8b8b8'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

.caretIcon {
  color: #b8b8b8;
}

.term,
.termArrow {
  display: none;
}

.link {
  font-size: 12px;
}
